<div class="row">
  <div class="category-header-image">
    <%= image_tag("cover-red.jpg") %>
  </div>

  <section class="content_container mt30 mb50">
    <div class="row">
      <div class="col-lg-12 mt20">
        <!-- <h2 class="lead text-center title-center mt50 mb50">Give you easy choice</h2> -->
        <%= image_tag('B&W-footer.png', class: "img-responsive img-slogo") %>
      </div>
      <div class="col-lg-4 col-sm-6 text-center mt50 mb30">
        <%= image_tag('beauty-lady.png', class: "img-circle img-raised img-responsive img-center all_image_css", size: "200x200") %>
        <br><br>
      </h3>
      <large>黑与白，给你最经典的选择!</large>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mt50 mb30">
      <%= image_tag('fengrenji.png', class: "img-circle img-responsive img-center all_image_css", size: "200x200") %>
      <br><br>
      <p>每一款T恤都是专业设计师精心打造!</p>
    </div>
    <div class="col-lg-4 col-sm-6 text-center mt50 mb30">
      <%= image_tag('cotton.png', class: "img-circle img-responsive img-center all_image_css", size: "200x200") %>
      <br><br>
      <p>舒服透气，柔软，吸湿，是来自大自然的恩惠!</p>
    </div>
  </div>
</section>
<% if @products.count == 2 %>
<section class="section-medium">
  <div class="row">
    <div class="week-title large-12 text-center">
      本周主打
    </div>
  </div>
  <div class="row mt20">
    <div class="columns col-md-offset-2 col-md-4">
      <%= link_to product_path(@products[0]) do %>
      <%= image_tag(@products[0].image.medium.url, class: "img-responsive  all_image_css") %>
      <% end %>
    </div>
    <div class="columns col-md-4">
      <%= link_to product_path(@products[1]) do %>
      <%= image_tag(@products[1].image.medium.url, class: "img-responsive  all_image_css") %>
      <% end %>
    </div>
  </div>
</section>
<% end %>

<div class="short-line"></div>
<h2 class="text-center">更多选择</h2>
<div class="show-list">
  <div style="width:9999px;">
    <br>
    <%= image_tag("https://ww1.sinaimg.cn/large/006tNbRwgy1fggai7mny9j3046046t8l.jpg", class: "img-responsive  oldshow-img") %>
    <%= image_tag("https://ww3.sinaimg.cn/large/006tNbRwgy1fggai7qrg5j3046046mx1.jpg", class: "img-responsive  oldshow-img") %>
    <%= image_tag("https://ww4.sinaimg.cn/large/006tNbRwgy1fggag0x2olj30460463yi.jpg", class: "img-responsive  oldshow-img") %>
    <%= image_tag("https://ww4.sinaimg.cn/large/006tNbRwgy1fggah4hfeoj3046046t8l.jpg", class: "img-responsive  oldshow-img") %>
    <%= image_tag("https://ww3.sinaimg.cn/large/006tNbRwgy1fggb08r4inj30by0bymxv.jpg", class: "img-responsive  oldshow-img") %>
    <%= image_tag("https://ww2.sinaimg.cn/large/006tNbRwgy1fggb08f55wj30by0bygm8.jpg", class: "img-responsive  oldshow-img") %>
    <%= image_tag("https://ww2.sinaimg.cn/large/006tNbRwgy1fggb07ugyzj30by0byjsr.jpg", class: "img-responsive  oldshow-img") %>
    <%= image_tag("https://ww1.sinaimg.cn/large/006tNbRwgy1fggb07sy5sj30by0byt9c.jpg", class: "img-responsive  oldshow-img") %>
    <%= image_tag("https://ww1.sinaimg.cn/large/006tNbRwgy1fggai7mny9j3046046t8l.jpg", class: "img-responsive  oldshow-img") %>
    <%= image_tag("https://ww3.sinaimg.cn/large/006tNbRwgy1fggai7qrg5j3046046mx1.jpg", class: "img-responsive  oldshow-img") %>
    <% @products_show.each do |p| %>
    <%= link_to product_path(p) do %>
    <%= image_tag(p.image_url, class: "img-responsive  oldshow-img") %>
    <% end %>
    <% end %>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">黑白摄影大赛</h2>
        <p class="lead">拿起你的相机，寻找黑白世界的表现力</p>
        <%= link_to("我要投稿", products_path, class:'btn btn-lg btn-small' ) %>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <%= image_tag("B&W-photo.jpg", class: "img-responsive") %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">黑白设计大赛</h2>
        <p class="lead">寻找身边的设计师</p>
        <%= link_to("我要投稿", products_path, class:'btn btn-lg btn-small' ) %>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <%= image_tag("competition-design.jpg", class: "img-responsive") %>
      </div>
    </div>
  </div>
</div>

<!-- <div class="slick-container slick_container" style="background-color: grey;">
  <div class="slider slick-center slick-initialized slick-slider">
    <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
    <div aria-live="polite" class="slick-list draggable" style="padding: 0px 60px;">
      <div class="slick-track" style="opacity: 1; width: 2058px; transform: translate3d(-441px, 0px, 0px);" role="listbox">
        <div class="slick-slide slick-cloned" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide62" data-slick-index="-4" aria-hidden="true">
          <h3>3</h3>
        </div>
        <div class="slick-slide slick-cloned" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide63" data-slick-index="-3" aria-hidden="true">
          <h3>4</h3>
        </div>
        <div class="slick-slide slick-cloned" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide64" data-slick-index="-2" aria-hidden="true">
          <h3>5</h3>
        </div>
        <div class="slick-slide slick-cloned slick-active" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide65" data-slick-index="-1" aria-hidden="false">
          <h3>6</h3>
        </div>
        <div class="slick-slide slick-current slick-active slick-center" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide60" data-slick-index="0" aria-hidden="false">
          <h3>1</h3>
        </div>
        <div class="slick-slide slick-active" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide61" data-slick-index="1" aria-hidden="false">
          <h3>2</h3>
        </div>
        <div class="slick-slide" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide62" data-slick-index="2" aria-hidden="true">
          <h3>3</h3>
        </div>
        <div class="slick-slide" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide63" data-slick-index="3" aria-hidden="true">
          <h3>4</h3>
        </div>
        <div class="slick-slide" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide64" data-slick-index="4" aria-hidden="true">
          <h3>5</h3>
        </div>
        <div class="slick-slide" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide65" data-slick-index="5" aria-hidden="true">
          <h3>6</h3>
        </div>
        <div class="slick-slide slick-cloned slick-center" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide60" data-slick-index="6" aria-hidden="true">
          <h3>1</h3>
        </div>
        <div class="slick-slide slick-cloned" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide61" data-slick-index="7" aria-hidden="true">
          <h3>2</h3>
        </div>
        <div class="slick-slide slick-cloned" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide62" data-slick-index="8" aria-hidden="true">
          <h3>3</h3>
        </div>
        <div class="slick-slide slick-cloned" style="width: 147px;" tabindex="-1" role="option" aria-describedby="slick-slide63" data-slick-index="9" aria-hidden="true">
          <h3>4</h3>
        </div>
      </div>
    </div>
    <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button>
  </div>
</div> -->

<div class="content-push pl120 pr100">
  <div class="short-line"></div>
  <h2>听听他们怎么说</h2>
  <div class="col-lg-4 col-md-6 col-sm-12 pb20">
    <div class="user-block">
      <div class="top">
        <div class="img">
          <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fgfxloc4mqj3046046js4.jpg" style="width:100px; height:100px;">
        </div>
        <div class="name">
          <span>Peter</span>
          <p>新晋服装设计师<br>我站特约撰稿人</p>
        </div>
      </div>
      <div class="talk">
        <p>
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          黑白的世界的张力给了我源源不断的创作灵感，这个网站是设计师的另一个舞台
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 pb20">
    <div class="user-block" id="xdite">
      <div class="top">
        <div class="img">
          <img src="https://ww2.sinaimg.cn/large/006tKfTcgy1fgfxms4qytj30460463z5.jpg" style="width:100px; height:100px;">
        </div>
        <div class="name">
          <span>郑伊廷</span>
          <p>知名 Rails 教练<br>世界黑客松首奖得主</p>
        </div>
      </div>
      <div class="talk">
        <p>
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          我一年四季都穿黑色T恤，这个网站我每次逛都有收获，帮我节省了大量选衣服的时间
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 pb20">
    <div class="user-block">
      <div class="top">
        <div class="img">
          <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fgfy9e8gn5j306e06eq3b.jpg" style=" width:100px; height:100px;">
        </div>
        <div class="name">
          <span>彭帅</span>
          <p>街舞小王子<br>黑白体恤发烧友</p>
        </div>
      </div>
      <div class="talk">
        <p>
          <i class="fa fa-quote-left" aria-hidden="true"></i>
          T恤我只穿黑白的
        </p>
      </div>
    </div>
  </div>
</div>
<div class="online-pk hidden-div" id="online-pannel">
  <p>直播室黑白T恤大比拼</p>
  <%= image_tag("https://ww2.sinaimg.cn/large/006tKfTcgy1fgfxlorebgj3046046mxz.jpg", class: "img-responsive  online-img") %>
  <%= image_tag("https://ww3.sinaimg.cn/large/006tKfTcgy1fgfxnhy6cnj3046046dgs.jpg", class: "img-responsive  online-img") %>
  <%= image_tag("https://ww1.sinaimg.cn/large/006tKfTcgy1fgfxlounyej3046046t9i.jpg", class: "img-responsive  online-img") %>
  <%= image_tag("https://ww1.sinaimg.cn/large/006tKfTcgy1fgg00i9o0lj3046046758.jpg", class: "img-responsive  online-img") %>
  <p>还有谁。。。</p>
</div>
<!-- <section class="text-center row">
    <div class="col-md-3">
      <p class="lead pt20">最新创意文化衫</p>
      <%= image_tag("lonely-cy.png", class: "img-responsive") %>
    </div>
    <div class="col-md-3">
      <p class="lead pt20">时尚文化衫</p>
      <%= image_tag("marked.png", class: "img-responsive") %>
    </div>
    <div class="col-md-3">
      <p class="lead pt20">情侣文化衫统一版</p>
      <%= image_tag("glad-black.jpg", class: "img-responsive") %>
    </div>
    <div class="col-md-3">
      <p class="lead pt20">班服设计</p>
      <%= image_tag("team1.jpg", class: "img-responsive") %>
    </div>
  </section> -->
<!-- <section class="content_container text-center">
    <h3>专注黑白、专注设计、专注创意，用最好的面料，打造最有创意的文化衫</h3>
  </section> -->

<div class="footer push-box">
  <%= link_to("立即购买", products_path, class:'btn btn-lg btn-default mt100' ) %>
</div>
</div>

<script type="text/javascript">
$(function () {
  $("#xdite").hover(function () {
    $("#online-pannel").toggle();
  })
});
</script>
