<div class="row">
  <div class="category-header-image">
    <img src="https://ww3.sinaimg.cn/large/006tKfTcly1fg8wi235l5j30xc05k75w.jpg" alt="" title="" class="header-image">
  </div>

  <section class="content_container">
    <h2>网站的三个特点</h2>
    <div class="h200">
      你会为挑衣服而烦恼吗？ 这里只有黑与白，给你最经典的选择 衣服不够个性，有趣 然而竟然你的衣服是有文化的，每一款T恤都是专业设计师精心打造 穿着不够舒适 其实我们同时帮你们把控了面料的选择，所有衣服均采用优质纯棉，舒服透气，柔软，吸湿，是来自大自然的恩惠

    </div>
    <h2>运作原理</h2>
    <div class="h200">
      团体T恤定制 你们的衣服有你们自己定义，提供必要元素，经过设计师的大手笔，你们都是快乐家族
    </div>
    <h2>使用者见证</h2>
    <div class="h200">
      品牌设计师；素材收集者；自由投稿人； 他们上直播无一例外的选择了黑白搭 xdite:最爱黑色幽默; nic:在黑白的世界翻滚;

    </div>
    <!-- <div class="fp-section-content">
      <%= image_tag("fashion1.jpg") %>
      <%= image_tag("idea1.jpg") %>
      <%= image_tag("lover1.jpg") %>
      <%= image_tag("team1.jpg") %>
    </div> -->
  </section>

  <!--===== 立即購買 =====-->
  <section class="push-box">
    <%= link_to("立即购买", products_path, class:'btn btn-lg btn-default' ) %>
  </section>
</div>
