<div class="row">
  <div class="category-header-image">
    <%= image_tag("B&W.jpeg") %>
  </div>

  <section class="content_container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Give you easy choice</h2>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <%= image_tag('beauty-lady.png', class: "img-circle img-responsive img-center", size: "200x200") %>
        <!-- <img class="img-circle img-responsive img-center" src="https://ww2.sinaimg.cn/large/006tKfTcly1fg985clqakj304g04g0si.jpg" width="200" height="200" alt=""> -->
        <h3>你会为挑衣服而烦恼吗？
          <br>
          <!-- <small></small> -->
        </h3>
        <p>这里只有黑与白，给你最经典的选择!</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <%= image_tag('funny.png', class: "img-circle img-responsive img-center", size: "200x200") %>
        <h3>衣服不够个性
          <small>有趣</small>
        </h3>
        <p>然而竟然你的衣服是有文化的，每一款T恤都是专业设计师精心打造!</p>
      </div>
      <div class="col-lg-4 col-sm-6 text-center">
        <%= image_tag('cotton.png', class: "img-circle img-responsive img-center", size: "200x200") %>
        <h3>穿着不够舒适
          <small>材质我们也替你选好了</small>
        </h3>
        <p>所有T恤均采用优质纯棉，舒服透气，柔软，吸湿，是来自大自然的恩惠!</p>
      </div>
    </div>
  </section>

  <section class="fp-section-content text-center">
    <p class="lead pt20">最新创意文化衫</p>
    <%= image_tag("lonely-cy.png", size: "500x500") %>
    <p class="lead pt20">时尚文化衫</p>
    <%= image_tag("marked.png", size: "500x500") %>
    <p class="lead pt20">情侣文化衫统一版</p>
    <%= image_tag("glad-black.jpg", size: "500x750") %>
    <p class="lead pt20">班服设计</p>
    <%= image_tag("team1.jpg", size: "500x500") %>
  </section>
  <section class="content_container text-center">
    <h3>专注黑白、专注设计、专注创意，用最好的面料，打造最有创意的文化衫</h3>
  </section>
  <!--===== 立即購買 =====-->
  <section class="push-box">
    <%= link_to("立即购买", products_path, class:'btn btn-lg btn-default' ) %>
  </section>
</div>
