<%= simple_form_for [:admin, @product] do |f| %>

<div class="col-md-12">
  <%= f.input :title %>
</div>

<div class="col-md-12">
  <%= f.input :description %>
</div>

<div class="col-md-6">
  <%= f.input :quantity %>
</div>

<div class="col-md-6">
  <%= f.input :price %>
</div>

<div class="form-group col-md-12">
  <% if @product.image.present? %>
  <label class="control-label">商品展示图片</label>
  <br>
  <%= image_tag @product.image.thumb.url unless p.image.blank?, :class => "col-md-3" %>
  <% end %>
</div>
<div class="col-md-12">
  <%= f.input :image, as: :file %>
</div>

<div class="form-group col-md-12">
  <% if @product.photos.present? %>
  <label class="control-label">商品图片</label>
  <br>
  <% @product.photos.each do |p| %>
  <%= image_tag p.avatar.thumb.url unless p.image.blank?, :class => "col-md-3" %>
  <% end %>
  <% end %>
</div>
<div class="form-group col-md-12">
  <%= f.label "Please upload photos" %><br>
  <%= f.file_field :avatar, :multiple => true, name: "photos[avatar][]", class: "btn btn-default"%>
</div>
<div class="col-md-12">
  <%= f.submit "Submit", data: { disable_with: "Submitting..." }, class: "btn btn-normal" %>
</div>
<% end %>
